/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  color: paleturquoise;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-weight: bold;
}
h1 h2 {
  font-weight: 600;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.border {
  border: 1px solid grey;
  color: black;
}
.unlock-key {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
header nav a {
  padding-right: 1rem;
}
.top-content {
  display: flex;
  flex-flow: column nowrap;
  margin: 5%;
  padding-right: 3%;
  margin-left: 28%;
  width: 50%;
  height: 100%;
  background-color: #D3D3D3;
}
.top-content .top-image {
  margin-left: 5%;
  margin-top: 5%;
}
.top-content .head-text {
  padding-left: 3%;
}
.top-content .head-text h1 {
  font-size: 2rem;
}
.top-content .head-text h2 {
  font-size: 1.5rem;
}
.top-content .border-content {
  border-bottom: 2px solid black;
  border-width: thin;
  margin: 5%;
}
.top-content .top-text {
  font-size: 1.2rem;
}
.top-content button {
  background-color: grey;
  color: white;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 1%;
}
.top-content button:hover {
  color: black;
  cursor: pointer;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
}
.main-container .box-1 {
  margin-left: 3%;
}
@media (max-width: 500px) {
  .main-container .box-1 {
    display: flex;
  }
}
.main-container .box-1 h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 200px) {
  .main-container .box-1 h2 {
    margin-bottom: 5%;
  }
}
.main-container .box-1 p {
  font-size: 1.1rem;
  width: 30%;
}
.main-container .box-2 {
  margin-right: 20%;
  width: 10%;
}
@media (max-width: 500px) {
  .main-container .box-2 {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    margin-left: 10%;
  }
}
@media (max-width: 200px) {
  .main-container .box-2 {
    display: flex;
    margin: 3%;
  }
}
.main-container .box-2 h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.main-container .box-2 ul {
  border: 1px solid lightgrey;
}
.main-container .box-2 ul li {
  border: 1px solid lightgrey;
  font-size: 1.1rem;
}
.work-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
.work-container table {
  border: 1px solid grey;
  width: 50%;
  font-size: 1.5rem;
}
.work-container tr {
  border: 1px solid grey;
  color: black;
}
.work-container tr th {
  border: 1px solid grey;
  color: black;
}
.work-container tr td {
  border: 1px solid grey;
  color: black;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  background-color: purple;
  color: white;
  margin: 0% 5%;
}
footer .footer-container p {
  margin: 3%;
  font-size: 1.3rem;
}
